@charset "UTF-8";
/*1. Template Default CSS (body, link color, section etc)*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    font-family: Inter, sans-serif;

}

html,
body {
    height: 100%;
}

ol, ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

img {
    max-width: 100%;

}

p {
    margin: 0 0 15px;
}


/* Header style 1*/
.header-style {
    position: relative;
    border-bottom: 0;
    padding: 30px 0;
}

.header-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.header-wrap .header-right {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;

}

/* Header logo*/
.header-logo {
    display: block;
    margin-right: 0px;
}

.header-logo a img {
    width: 180px;
    min-width: 180px;
}

/* Header search*/
.header-search {
    width: 100%;
    margin-top: 7px;
    max-width: 680px;
}

.header-search form {
    position: relative;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

}

.header-search form input {
    width: 100%;
    font-size: 14px;
    height: 50px;
    line-height: 50px;
    border-radius: 5px;
    background: #ededed none repeat scroll 0 0;
    border: 0 none;
    color: #333;
    margin: 0;
    padding-left: 10px;
    padding-right: 47px;
}

.header-search form a {
    background: #f07c29 none repeat scroll 0 0;
    color: #fff;
    display: inline-block;
    height: 50px;
    line-height: 50px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 42px;
    border-radius: 0 5px 5px 0px;

}

.header-search form a img {
    margin: auto;
    align-content: center;
    vertical-align: middle;
}

.header-search form a:hover {
    background: #232323 none repeat scroll 0 0;
}

/* Header icons*/
.header-icons {
    margin-top: 7px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.header-icons-rows {
    margin: 0;
    padding-left: 10px;
    padding-right: 47px;
    height: 50px;
    line-height: 50px;

}

.el-icon-four {
    color: #1b6d85;
}

.box-item {
    width: 110px;
    margin-top: 10px;
}

/* menu area*/
.menu-level1 {
    background-color: #F2F3F4;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 auto;
    position: relative;
}

.menu-level2 {
    font-size: 14px;
    font-weight: 400;
    padding: 5px 0 3px;
    text-decoration: none;
    transition: .3s;
    text-transform: capitalize;

}

.color-sub {
    color: #000000;
    font-size: 14px;
}

.color-sub:hover {
    color: #EF7C29;
}

/* slider area*/
.slider-area {
    padding: 30px 0;
    border-top: 0;
    border-bottom: 10px;
    position: relative;
}

.single-slider {
    background-size: cover;
    background-position: center center;
    height: 450px;
    max-width: 100%;
    max-height: 100%;

}

.single-slider img {
    position: relative;
    background-size: cover;
    background-position: center center;
    height: 100%;
}

.bg-img {
    background-position: center center;
    background-size: cover;
}

/* best book area*/
/* 此处是每本书的模板card，可重复使用*/
.product-wrapper {
    padding: 30px 0;
    border-top: 0;
    border-bottom: 10px;
    height: 510px;
    position: relative;
}

.book-item {
    width: auto;
    position: relative;
    text-align: center;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    border: 1px solid #F4F6FA;
    border-radius: 10px;
    padding: 20px 20px 28px 30px;
    min-height: 215px;

}

.book-item:hover {
    border: 1px solid #f07c29;
    -webkit-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.05);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.05);
    -webkit-transition: 0.2s;
    transition: 0.2s;
}

.wrapper-image {
    position: relative;
    overflow: hidden;
}

.wrapper-cart {
    border-radius: 5px;
    background: #f07c29 none repeat scroll 0 0;
    width: 70%;
    margin: auto;
    align-content: center;
    vertical-align: middle;

}

.wrapper-button {
    color: #ffffff;
    -webkit-transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
    transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
}

/* top foot area*/
.foot-area {
    border-top: 20px;
    border-bottom: 20px;
    position: relative;
    background-color: #F6F6F6;
    height: 280px;
}

.foot-top {
    position: relative;
    padding: 10px;
    margin-bottom: 10px;
}

.foot-top-left {
    height: 100%;
    margin: auto;
}

.foot-top-right {
    height: 100%;
    margin: auto;
}

.foot-end-area {
    padding: 15px;
    border-top: 20px;
    border-bottom: 20px;
    position: relative;
    height: 150px;
}

.foot-contact {
    font-size: 14px;
    color: #253D4E;
}

.foot-contact li:not(:last-child) {
    margin-bottom: 10px;
}

.foot-contact li img {
    margin-right: 8px;
    max-width: 16px;
}

.foot-title {
    font-size: 18px;
    font-weight: 600;
    margin: 15px 0 20px 0;
}

.footer-list {
    list-style: outside none none;
    margin: 0;
    padding: 0;
    min-width: 170px;
}

.footer-list li {
    display: block;
    margin: 0 0 13px;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.footer-list li a {
    font-size: 15px;
    color: #253D4E;
    display: block;
}

.footer-list li a:hover {
    color: #f07c29;
}





